<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
    <head>
        <title><%= __('index_title') %></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/main.css" />
    </head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Ocean-IT</a>
        <nav id="nav">
            <a href="index">Home</a>
            <a href="generic">Generic</a>
            <a href="elements">Elements</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>