<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>멤버 등록</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner" style="margin: auto">
        <h2 style="text-align: center; color:#FFFFFF;">멤버 등록</h2>
    </div>
</header>
<form id="form_submit" action="/members/registration_member" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="-6u 12u$(small)">
        <h2 style="text-align: center; margin-top: 10px">프로필 이미지</h2>
        <div class="box person"  style="text-align: center">
            <div class="image round">
                <p>
                <img src="/images/default-profile-image.png" id= "profile_image" alt="Member_New" width="300"/>
                </p>
            </div>
            <div>
            <a class="button special icon fa-search" style="text-align: center" onclick="upload_profile_image()">업로드</a>
            </div>
            <input type="file" id="file_upload" name="file_upload" accept="image/*" style="display: none"/>
        </div>
    </div>
    <div class="-6u 12u$(small)">
        <h2 style="text-align: center; margin-top: 10px">기초 정보</h2>
        <h4 style="text-align: center; margin-top: 10px">(*)표시는 필수 입력사항입니다.</h4>
        <div style="margin:10px">
            <h4>이름*</h4>
            <input type="text" name="name_ko" id="name_ko" value="" placeholder="이름(한글)" />
            <input type="text" name="name_en" id="name_en" value="" placeholder="이름(영문)" />
        </div>
        <div style="margin:10px">
            <h4>소속*</h4>
            <input type="text" name="c_affiliation" id="affiliation" value="" placeholder="호서대학교, etc" />
        </div>
        <div style="margin:10px">
            <h4>직위*</h4>
            <input type="text" name="c_position" id="position" value="" placeholder="교수, 연구원, etc" />
        </div>
        <div style="margin:10px">
            <h4>구내전화*</h4>
            <input type="text" name="c_interphone" id="interphone" value="" placeholder="041-000-0000"/>
        </div>
        <div style="margin:10px">
            <h4>이메일*</h4>
            <input type="text" name="email" id="email" value="" placeholder="example@hoseo.ac.kr" />
        </div>
    </div>

    <div class="-6u 12u$(small)">
        <h2 style="text-align: center; margin-top: 10px">학적</h2>
        <div class="table-wrapper" style="margin: 10px">
            <table>
                <thead>
                <tr>
                    <th>출신학교</th>
                    <th>전공</th>
                    <th>학위명</th>
                </tr>
                </thead>
                <tbody id="member_degree_table">
                </tbody>
                <tfoot>
                <tr>
                    <td>
                        <input type="text" id="input_affiliation" value="" placeholder="출신학교" />
                    </td>
                    <td>
                        <input type="text" id="input_major" value="" placeholder="전공" />
                    </td>
                    <td>
                        <input type="text" id="input_degree" value="" placeholder="학위명" />
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div style="text-align: center; margin: 10px">
            <a class="button alt icon fa-check" style="text-align: center" onclick="add_info_to_table()">학적 추가</a>
        </div>
        <div style="text-align: center; margin: 30px 10px 30px">
            <input class="button special fit" style="text-align: center" type="button" value="등록하기" onclick="submit_popup()"/>
        </div>
    </div>
</div>
</form>
<%include includes/footer.ejs%>

<script type="text/javascript">
    function add_info_to_table() {
        var member_degree_table = document.getElementById('member_degree_table');
        //학적 폼에서의 입력값 받아오기
        var input_affiliation = document.getElementById('input_affiliation').value;
        var input_major = document.getElementById('input_major').value;
        var input_degree = document.getElementById('input_degree').value;
        //폼에 정보가 다 들어가 있는지 확인
        if(input_affiliation.length * input_major.length * input_degree.length !== 0){
            var row_num = member_degree_table.rows.length;
            console.log(row_num);
            var row = member_degree_table.insertRow(member_degree_table.rows.length);

            var cell_affiliation = row.insertCell(0);
            var cell_major = row.insertCell(1);
            var cell_degree = row.insertCell(2);

            cell_affiliation.innerHTML = `
                    <td><input type="text" name="degree_info[${row_num}][affiliation]" value="${input_affiliation}"/></td>
                    `;
            cell_major.innerHTML = `
                    <td><input type="text" name="degree_info[${row_num}][major]" value="${input_major}"/></td>
                    `;
            cell_degree.innerHTML = `
                    <td><input type="text" name="degree_info[${row_num}][degree]" value="${input_degree}"/></td>
                    `;
            document.getElementById('input_affiliation').value = '';
            document.getElementById('input_major').value = '';
            document.getElementById('input_degree').value = '';
        }else{
            alert('모든 정보를 기입해주세요.');
        }
    }

    function upload_profile_image() {
        var file_upload = document.getElementById('file_upload');
        var profile_image = document.getElementById('profile_image');

        file_upload.click();
        file_upload.onchange = function () {
            var files = file_upload.files;
            var img_path = URL.createObjectURL(files[0]);

            profile_image.src = img_path;
        }
    }

    function submit_popup() {
        if()
        if(confirm("멤버를 등록하시겠습니까?") === true){
            document.getElementById('form_submit').submit();
            alert("등록되었습니다")
        }else{
            return false;
        }
    }
</script>