<%include includes/header.ejs%>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>연구 성과</h2>
            <p>연구 성과 게시판입니다.</p>
        </header>
        <div class="12u$">
            <div class="select-wrapper">
                <div style="float:right">
                    <select name="category" id="category" style="width : 200px;">
                        <option value="">전체 보기</option>
                        <option value="1">논문</option>
                        <option value="2">특허</option>
                        <option value="3">발표</option>
                    </select>
                </div>
                <br><br><br>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="align-center">
                <thead>
                <tr>
                    <style>
                        .align-center th{
                            text-align: center;
                        }
                    </style>
                    <th>논문명</th>
                    <th>학술대회명 / 논문지명</th>
                    <th>저자</th>
                    <th>발표 일자</th>
                    <th>구분</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>수중 채널환경에서 OFDM및 ...</td>
                    <td>한국음향학회지</td>
                    <td>김길용, 김민상, 고학림, 임태호</td>
                    <td>2019.01.01</td>
                    <td>논문</td>
                </tr>
                <tr>
                    <td>수중 채널환경에서 OFDM및 ...</td>
                    <td>한국음향학회지</td>
                    <td>김길용, 김민상, 고학림, 임태호</td>
                    <td>2019.01.01</td>
                    <td>특허</td>
                </tr>
                <tr>
                    <td>수중 채널환경에서 OFDM및 ...</td>
                    <td>한국음향학회지</td>
                    <td>김길용, 김민상, 고학림, 임태호</td>
                    <td>2019.01.01</td>
                    <td>논문</td>
                </tr>
                <tr>
                    <td>수중 채널환경에서 OFDM및 ...</td>
                    <td>한국음향학회지</td>
                    <td>김길용, 김민상, 고학림, 임태호</td>
                    <td>2019.01.01</td>
                    <td>발표</td>
                </tr>
                <tr>
                    <td>수중 채널환경에서 OFDM및 ...</td>
                    <td>한국음향학회지</td>
                    <td>김길용, 김민상, 고학림, 임태호</td>
                    <td>2019.01.01</td>
                    <td>논문</td>
                </tr>
                <tr>
                    <td>수중 채널환경에서 OFDM및 ...</td>
                    <td>한국음향학회지</td>
                    <td>김길용, 김민상, 고학림, 임태호</td>
                    <td>2019.01.01</td>
                    <td>논문</td>
                </tr>
                <tr>
                    <td>수중 채널환경에서 OFDM및 ...</td>
                    <td>한국음향학회지</td>
                    <td>김길용, 김민상, 고학림, 임태호</td>
                    <td>2019.01.01</td>
                    <td>논문</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 쪽수 (1,2,3) -->
        <h4 style="text-align: center">1  2  3</h4>
        <br>
        <div style="float:right">
            <a href="research_results/write" class="button special">작성하기</a>
            <!--<a href="#" class="button">삭제하기</a>-->
        </div>
    </div>
</section>

<%include includes/footer.ejs%>