<%include includes/header.ejs%>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>연구 분야</h2>
            <p>연구소의 연구분야 게시판</p>
        </header>
        <div class="12u$">
            <div class="select-wrapper">
                <div style="float:right">
                    <select name="category" id="category" style="width : 200px;">
                        <option value="">전체 보기</option>
                        <option value="1">진행 과제</option>
                        <option value="2">완료 과제</option>
                    </select>
                </div>
                <br><br><br>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="align-center">
                <thead>
                <tr>
                    <!-- 가운데 정렬, 자바 스크립트 - 함수 사용하여 최소화 가능(?) -->
                    <style>
                        .align-center th{
                            text-align: center;
                        }
                    </style>
                    <th>분류</th>
                    <th width="650">과제명</th>
                    <th>지원 기관</th>
                    <th>연구 기간</th>
                    <th>진행 상태</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>수중광역 ~</td>
                    <td>해양수산과학기술진흥원</td>
                    <td>2019.01.01 ~ 2019.01.01</td>
                    <td>연구 진행중</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>내용이 들어가는 부분</td>
                    <td>해양수산과학기술진흥원</td>
                    <td>2019.01.01 ~ 2019.01.01</td>
                    <td>연구 진행중</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>내용이 들어가는 부분</td>
                    <td>해양수산과학기술진흥원</td>
                    <td>2019.01.01 ~ 2019.01.01</td>
                    <td>연구 진행중</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>내용이 들어가는 부분</td>
                    <td>해양수산과학기술진흥원</td>
                    <td>2019.01.01 ~ 2019.01.01</td>
                    <td>연구 진행중</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>내용이 들어가는 부분</td>
                    <td>해양수산과학기술진흥원</td>
                    <td>2019.01.01 ~ 2019.01.01</td>
                    <td>연구 진행중</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>내용이 들어가는 부분</td>
                    <td>해양수산과학기술진흥원</td>
                    <td>2019.01.01 ~ 2019.01.01</td>
                    <td>연구 진행중</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>내용이 들어가는 부분</td>
                    <td>해양수산과학기술진흥원</td>
                    <td>2019.01.01 ~ 2019.01.01</td>
                    <td>연구 완료</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 쪽수 (1,2,3) -->
        <h4 style="text-align: center">1  2  3  4  5  6  7</h4>
        <br>
        <div style="float:right">
            <a href="/research_fields/write" class="button special">작성하기</a>
            <!--<a href="#" class="button">삭제하기</a>-->
        </div>
    </div>
</section>
<%include includes/footer.ejs%>