<%include includes/header.ejs%>
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>연구 성과</h2>
            <p> 게시글 작성</p>
        </header>
        <div class="table-wrapper" style="overflow-y: hidden; overflow-x: hidden;">
            <form method="post" action="/">
                <div class="row uniform">
                    <div class="4u 12u$(medium)">
                        <h4>구분</h4>
                        <input type="radio" id="priority-low" name="priority" checked>
                        <label for="priority-low">논문</label>
                        <input type="radio" id="priority-normal" name="priority" checked>
                        <label for="priority-normal">특허</label>
                        <input type="radio" id="priority-high" name="priority">
                        <label for="priority-high">발표</label>
                    </div>
                    <div class="4u$ 12u$(medium)">
                        <h4>발표일</h4><input type="date" value=""/>
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <h4>학회/학술지명</h4><input type="text" name="name" id="name" value="" placeholder="예시" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <h4>주저자</h4><input type="email" name="email" id="email" value="" placeholder="예시" />
                    </div>
                    <div class="6u 12u$(xsmall)">
                        <h4>논문명(한글)</h4><input type="text" name="name" id="name" value="" placeholder="예시" />
                    </div>
                    <div class="6u$ 12u$(xsmall)">
                        <h4>논문명(영문)</h4><input type="email" name="email" id="email" value="" placeholder="예시" />
                    </div>
                    <div class="4u 12u$(medium)">
                        <h4>발표 매체</h4><input type="text" name="name" id="name" value="" placeholder="예시" />
                    </div>
                    <div class="4u 12u$(medium)">
                        <h4>국가명</h4>
                        <select name="category" id="category" >
                            <option value="">국가 선택</option>
                            <option value="대한민국">대한민국</option>
                            <option value="미국">미국</option>
                        </select>
                    </div>
                    <div class="4u 12u$(medium)">
                        <h4>관련 과제</h4><input type="text" name="name" id="name" value="" placeholder="예시" />
                    </div>
                    <div class="12u$">
                        <div class="4u 12u$(medium)" style="width:300px">
                            <h4>초록</h4>
                        </div>
                        <h5 style="margin-bottom: 0px; margin-top: 10px;">예시(국문)</h5>
                        <textarea name="message" id="research_fields_write_page_target_kor" placeholder="예시(국문)" rows="8" style="resize: none;" ></textarea>
                        <h5 style="margin-bottom: 0px; margin-top: 10px;">예시(영문)</h5>
                        <textarea name="message" id="research_fields_write_page_target_eng" placeholder="예시(영문)" rows="8" style="resize: none;"></textarea><br>
                    </div>
                </div>
                <br>
                <div style="float:right">
                    <input type="submit" class="button special" value="작성 완료" />
                </div>
            </form>
        </div>
    </div>
</section>
<%include includes/footer.ejs%>